<div class="admin-header">
  <img
    src="{{profile.avatar}}"
    alt="admin Picture"
    class="admin-header_avatar"
  />
  <h1 class="admin-header_username">{{admin.name}}</h1>
  <div hidden id="admin-user-id">{{admin.userId}}</div>
  <div class="input-field, admin-header_username">
    <input
      id="admin-input-update-name"
      class="admin-input-update"
      type="name"
      name="name"
      value="{{admin.name}}"
      required=""
    />
  </div>
</div>