<div class="social-links">
  <h2 class="social-links_title">{{admin.name}}'s links:</h2>
  <ul class="social-links_list">
    {{#each socialLinks}}
      <li class="social-links_list_item">
        <a class="social-links_list_item_link">{{this.label}} </a>
        <input
          id="admin-input-update-{{this.label}}"
          class="admin-input-update"
          type="name"
          name="link"
          value="{{this.link}}"
          required=""
        />
      </li>
    {{/each}}
  </ul>
</div>