
<div class="bio-links">
  <ul class="bio-links_list">
    {{#each bioLinks}}
      <li class="bio-links_list_item">
        <a class="bio-links_list_item_link" href="{{this.linkUrl}}">{{this.label}}</a>
      </li>
    {{/each}}
  </ul>
</div>
