{{#if isHome}}
<nav>
  <form action="/search">
    <input type="search" name="query" id="search-input" placeholder="SEARCH FOR USERS" />
  </form>
  <div class="login-signup">
    {{#if loggedIn}}
    <a href="/admin/{{user.userId}}">
      <button id="admin" type="submit">Admin</button>
    </a>
    <a href="/profile/{{user.userId}}">
      <button id="profile" type="submit">Profile</button>
    </a>
    <a href="#">
      <button id="logout-link" type="submit">Logout</button>
    </a>
    {{else}}
    <a href="/login">
      <button id="login" type="submit">Login</button>
    </a>

    <a href="/signup">
      <button id="signup" type="submit">Signup</button>
    </a>
    {{/if}}
  </div>
  <div>
    <input type="checkbox" id="darkmode-toggle">
    <label id="darkmode-toggle-label" for="darkmode-toggle"></labelfor>
  </div>
</nav>
{{else}}
<style>
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
  }

  h1 {
    font-size: 45px;
    font-weight: lighter;
    color:
      black;
  }
</style>
<nav>
  <a href="/" style="text-decoration: none;">
    <h1>MultiMedia</h1>
  </a>

</nav>
{{/if}}