<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiMedia App</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    <header>
        <h1><a href="/">MultiMedia App</a></h1>
    </header>

    <main>
        {{{body}}}
    </main>
</body>
</html>

<script>
  const logout = async function() { 
    const response = await fetch('/api/user/logout', { 
        method: 'POST', 
        headers: { 'Content-Type': 'application/json' }, 
        }); 
        if (response.ok) { document.location.replace('/login'); 
        } else { 
            alert('Failed to log out'); 
        } 
        };
        document.querySelector('#logout-link').addEventListener('click', logout);
</script>