<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Multi-Media</title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/login&signup.css' />
		<link
			href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css'
			rel='stylesheet'
		/>

	</head>

	<body>
		{{#if isHome}}
			<nav>
				<form action='/search'>
					<input
						type='search'
						name='query'
						id='search-input'
						placeholder='SEARCH FOR USERS'
					/>
				</form>
				{{#if logged_in}}
					<div
						class='fixed z-10 inset-0 overflow-y-auto hidden'
						id='joinRoomModal'
					>
						<div
							class='flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center'
						>
							<div class='fixed inset-0 transition-opacity'>
								<div class='absolute inset-0 bg-gray-500 opacity-75'></div>
							</div>
							<div
								class='inline-block align-middle bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full'
								role='dialog'
								aria-modal='true'
								aria-labelledby='joinRoomModalLabel'
							>
								<div class='bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4'>
									<div class='sm:flex sm:items-start justify-center'>

										<div class='mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left'>
											<h1
												class='text-lg text-center leading-6 font-medium text-gray-900 mb-4 mr-2'
												id='joinRoomModalLabel'
											>
												Join A Chat
											</h1>
											<div class='mt-2'>
												<form>
													<div class='mb-4'>
														<input
															type='text'
															id='roomName'
															name='roomName'
															class='appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
															placeholder='Enter room name...'
														/>
													</div>

												</form>
											</div>
										</div>
									</div>
								</div>
								<div
									class='bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse'
								>
									<button
										type='button'
										class='bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-md ml-3'
										id='joinRoomButton'
									>
										Join
									</button>
									<button
										type='button'
										class='bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-md'
										onclick="toggleModal('joinRoomModal')"
									>
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class='login-signup'>
						<a href='/profile'><button class='profile'>
								Profile</button></a>
						<a href='#'><button id='messenger'>Messages</button></a>
						<button id='logout-button'>Logout</button>
						<script src='js/logout.js'></script>
						<script src='/socket.io/socket.io.js'></script>
						<script src='/js/message.js'></script>

					</div>
				{{else}}
					<div class='login-signup'>
						<a href='/login'><button id='login' type='submit'>Login</button></a>
						<a href='/signup'><button
								id='signup'
								type='submit'
							>Signup</button></a>
					</div>
				{{/if}}
			</nav>
		{{else}}
			<style>
				nav { display: flex; justify-content: center; align-items: center;
				border-bottom: 2px solid;} h1 {font-size: 45px; font-weight: lighter;
				color: black;}

			</style>
			<nav>
				<a href='/' style='text-decoration: none;'><h1>Multi-Media</h1></a>

			</nav>
		{{/if}}
		<main>
			{{{body}}}
		</main>

	</body>
</html>