<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Multi-Media</title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>

	<nav>
		<form action='/search'>
			<input
				type='search'
				name='query'
				id='search-input'
				placeholder='SEARCH FOR USERS'
			/>
		</form>

		<div class='login-signup'>
			<button id='login' type='submit'>Login</button>
			<button id='signup' type='submit'>Signup</button>
		</div>
	</nav>
	<body>
		<main>
			<div class='link-container'>
				<div>
					<h1>MultiMedia App</h1>
					<p>All your social medias. In one, simple link</p>
				</div>
				<div id='users-link'>
					<input type='text' placeholder='Multimedia.com/ YOUR LINK' />
					<button id='claim-link' type='submit'>CLAIM LINK</button>
				</div>
			</div>
		</main>
	</body>
</html>