<div class='link-container'>
	<div>
		<h1>MultiMedia App</h1>
		<p>All your social medias. In one, simple link</p>
	</div>
	<div id='users-link'>
	<form>
		<input id='input-claim' type='text' placeholder='Multimedia.com/bio/YOUR_LINK' />
		<button id='claim-link' type='submit'>CLAIM LINK</button>
		<span id="availability"></span>
	</form>
	</div>
</div>