<div class='home-page'>
	<div class='link-container'>
		<div>
			<h1>MultiMedia App</h1>
			<p>All your social medias. In one, simple link</p>
		</div>
		<div id='users-link'>
			<input type='text' placeholder='Multimedia.com/ YOUR LINK' />
			<button id='claim-link' type='submit'>CLAIM LINK</button>
		</div>
	</div>
	<div
		class='container'
		style='width: 200px; height: 200px; position: relative;'
	>
	</div>
</div>