<link rel='stylesheet' href='/css/chat.css' />
<!-- Button to Open Modal -->
<h1 class='text-2xl font-bold mb-4'>My Inbox</h1>
<button
	type='button'
	class='text-white font-bold py-2 px-4 rounded bg-black hover:bg-gray-100'
	onclick="toggleModal('newMessageModal')"
>
	<i class='bi bi-envelope-fill text-white mr-2'></i>
	New Message

</button>

{{! modal }}
<div class='fixed z-10 inset-0 overflow-y-auto hidden' id='newMessageModal'>
	<div
		class='flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0'
	>

		<div class='fixed inset-0 transition-opacity'>
			<div class='absolute inset-0 bg-gray-500 opacity-75'></div>
		</div>

		<div
			class='inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full'
			role='dialog'
			aria-modal='true'
			aria-labelledby='newMessageModalLabel'
		>
			<div class='bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4'>
				<div class='sm:flex sm:items-start'>
					<div
						class='mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10'
					>
						<i class='bi bi-chat-dots text-blue-500 text-3xl'></i>
					</div>
					<div class='mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left'>
						<h3
							class='text-lg leading-6 font-medium text-gray-900'
							id='newMessageModalLabel'
						>
							New Message
						</h3>
						<div class='mt-2'>
							<form>
								<div class='mb-4'>
									<label
										for='recipient'
										class='block text-gray-700 font-bold mb-2'
									>
										To:
									</label>
									<div class='autocomplete'>
										<input
											type='text'
											class='appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
											id='user-search-input'
											placeholder='Search...'
										/>
										<div id='autocomplete-results'></div>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
			<div class='bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse'>
				<a href='#' id='chatbox-link'></a>
				<button
					type='button'
					class='bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-md ml-3'
					id='chat-button'
				>
					Next
				</button>

				<button
					type='button'
					class='bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-md'
					onclick="toggleModal('newMessageModal')"
				>
					Cancel
				</button>
			</div>
		</div>

	</div>
</div>

<!-- User's messages -->
<div class='container mx-auto mt-8 flex flex-col lg:flex-row'>
	<!-- Inbox -->
	<div class='lg:w-1/3'>
		<h1 class='text-2xl font-bold mb-4'>Inbox</h1>
		<ul id='conversation-list' class='list-none'>
			<div class='inbox'>
				<ul>
					<li class='contact'>
						<span class='name'>John Doe</span>
						<span class='unread'>2</span>
					</li>
					<li class='contact'>
						<span class='name'>Jane Smith</span>
						<span class='unread'>1</span>
					</li>
					<li class='contact'>
						<span class='name'>Bob Johnson</span>
						<span class='unread'>0</span>
					</li>
				</ul>
			</div>

			{{#each conversations}}
				<li class='mb-2'>
					<a href='#' class='font-bold text-black'>{{this.username}}</a>
				</li>
			{{/each}}
		</ul>
	</div>

	<!-- Conversation -->
	<div class='lg:w-2/3 lg:pl-4'>
		<div
			id='conversation-header'
			class='flex justify-between items-center bg-gray-100 p-4'
		>
			<h2 id='chat-username' class='font-bold text-lg'></h2>
			<h1>John</h1>
		</div>
		<div id='conversation-container' class='h-96 bg-grey p-4'>
			<div id='conversation-messages' class='h-full overflow-y-auto'>
				<!-- Messages will be added here dynamically -->
				<div class='conversation'>
					<div class='messages'>
						<ul>
							<li class='message received'>
								<span class='sender'>John Doe:</span>
								<span class='text'>Hey, how's it going?</span>
							</li>
							<li class='message sent'>
								<span class='sender'>Me:</span>
								<span class='text'>Not bad, thanks. How about you?</span>
							</li>
							<li class='message received'>
								<span class='sender'>John Doe:</span>
								<span class='text'>Can't complain. What are you up to?</span>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<div id='message-input-container' class='mt-4 flex justify-between'>
				<input
					type='text'
					class='border border-gray-300 bg-white text-gray-800 px-3 py-2 w-full rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent'
					placeholder='Type your message here'
				/>
				<button
					id='send-button'
					class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-md'
				>Send</button>
			</div>

		</div>
	</div>
</div>

<script src='/js/message.js'></script>