
<link rel="stylesheet" href="/css/login.css">

<h2>Welcome!</h2>
<p>Please <a href="/signup">signup</a> or <a href="/login">login</a> to continue.</p>

<div class="signup">
    <form id="signup-form">
        <label id="signupLabel"></label>
        <h2 class="title">Sign Up</h2>
        <div class="input-field">
        <input
            id="name-input-signup"
            type="name"
            name="name"
            placeholder="Your name"
            required=""
        >
        </div>
        <br></br>
        <div class="input-field">
        <input
            id="username-input-signup"
            type="text"
            name="username"
            placeholder="Username"
            required=""
        >
        </div>
        <br></br>
        <div class="input-field">
        <input
            id="password-input-signup"
            type="password"
            name="password"
            placeholder="Password"
            required=""
        >
        </div>
        <br></br>
    <button type="submit" id="signup-submit">Sign Up</button>
    </form>
</div>

<div class="login">
    <form id="login-form">
        <label id="loginLabel"></label>
        <h2 class="title">Log In</h2>
        <div class="input-field">
        <input
            id="username-input-login"
            type="text"
            name="username"
            placeholder="Username"
            required=""
        >
        </div>
        <br></br>
        <div class="input-field">
        <input
            id="password-input-login"
            type="password"
            name="password"
            placeholder="Password"
            required=""
        >
        </div>
        <br></br>
    <button type="submit" id="login-submit">Log In</button>
    </form>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>