body {
  background-image: linear-gradient(to bottom, #abf62d, #d6a3fb),
    linear-gradient(to bottom, #fff, #fff);
  background-position: 0 0, 0 100px;
  background-repeat: repeat-x;
}

.bio {
  width: 40%;
}

.bio .bio-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio .bio-header_avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-image: url("https://www.w3schools.com/w3images/avatar5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 128px;
}

.bio .bio-header_username {
  justify-content: center;
  text-align: center;
  margin: 30px 0 0 0;
  font-weight: bold;
}

.bio .bio-header_description {
  justify-content: center;
  text-align: center;
  margin: 20px 0 0 0;
  font-weight: 900;
  font-size: 20px;
}

.bio .bio-header_message {
  justify-content: center;
  text-align: center;

  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 900;
  font-size: 20px;

  padding: 15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  margin: 0;
  margin-top: 15px;
  cursor: pointer;
  list-style: none;
}

.bio .bio-links_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px 0 0 0;
  font-size: 30px;
  font-weight: 400;
}

.bio .bio-links_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.bio .bio-links_list_item {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  margin: 15px 0 0 0;
  cursor: pointer;
  list-style: none;
}

.bio .bio-links_list_item_link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 900;
  font-size: 20px;
}

.bio h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
