.room-box {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #333;
	color: white;
	padding: 10px;
	width: 700px;
	margin-top: 30px;
	font-size: 30px;
}

#leave-chat {
	background-color: #585656;
	border-radius: 10px;
	color: #fff;
	border: none;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.room-box button:hover {
	background-color: red;
}

.messenger-box {
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 700px;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
}

.chat-area {
	flex-grow: 1;
	padding: 10px;
	overflow-y: auto;
	background-color: white;
}

.input-area {
	display: flex;
	margin-bottom: -18px;
	border-top: 1px solid #ccc;
	height: 80px;
}
.input-area form {
	width: 100%;
}

#chat-input :focus {
	outline: none;
}

.input-area button {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	width: 100px;
}

.input-area button:hover {
	background-color: #0062cc;
}

#chat-input {
	width: 100%;
	padding-bottom: 10px;
	border: none;
	padding: 18px;
	font-size: 16px;
}

.autocomplete {
	position: relative;
	display: inline-block;
}
#autocomplete-results {
	position: absolute;
	z-index: 999;
	top: 100%;
	left: 0;
	right: 0;
	background-color: white;
	border: 1px solid #ccc;
	border-top: none;
	max-height: 200px;
	overflow-y: auto;
	display: none;
}
