body {
	font-family: Arial, sans-serif; 
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px;
}
.darkMode {
	background-image: linear-gradient(to bottom, #436905, #5c446e), linear-gradient(to bottom, #fff, #fff);
    background-position: 0 0, 0 100px;
    background-repeat: repeat-x;
}
#darkmode-toggle {
	width: 0;
	height: 0;
visibility: hidden;
}
#darkmode-toggle-label {
	width: 44px;
	height: 25px;
	position:relative;
	display: inline-block;
	background: #fff;
	border-radius: 200px;
	box-shadow: inset 0px 5px 15px #000, inset 0px -5px 15px #fff;
	transition: 1s;
}
#darkmode-toggle-label:after {
	content: "";
	width: 22px;
	height: 25px;
	position: absolute;	
	background: linear-gradient(180deg, #fff,#000);
	border-radius: 180px;
	box-shadow: 0px 5px 10px #000, 0px -5px 10px #fff;
}

#darkmode-toggle:checked + #darkmode-toggle-label {
	background: #000;
}
#darkmode-toggle:checked + #darkmode-toggle-label:after {
	left: 44px;
	transform:translateX(-100%);
	background: linear-gradient(180deg,#000,#fff)
}
#search-input {
	border-radius: 30px;
	border: 2px solid #000;
	padding: 5px;
	font-size: 13px;
	width: 300px;
	margin-top: 10px;
}

#search-input::placeholder {
	display: flex;
	text-align: center;
	color: #000;
	font-weight: 750;
}

.login-signup button {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 15px;
	font-size: 15px;
	border-radius: 5px;
	width: 200px;
	margin-left: 20px;
	margin-bottom: 5px;
	cursor: pointer;
}

.login-signup button:hover {
	background-color: #333;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.link-container {
	margin-top: 150px;
}

.link-container h1 {
	font-size: 80px;
	text-align: center;
}

.link-container p {
	text-align: center;
	font-size: 20px;
	margin-top: -15px;
	margin-bottom: 35px;
}

#users-link input {
	border: 2px solid #000;
	padding: 10px;
	width: 350px;
	font-size: 15px;
	margin-right: 25px;
	text-align: center;
}

#claim-link {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 15px;
	border-radius: 5px;
	width: 150px;
	cursor: pointer;
}

