
<div class="admin">
    {{> admin.avatar}}

    {{> admin.social-links}}

    <div class="admin-update-profile">
        <button type="submit" id="admin-submit" class="admin-update-profile-btn">Update Profile</button>
    </div>


    {{> admin.bio-links}}
    <div style="margin-top:50px"></div>
</div>