<div class="login">
    <form id="login-form">
        <label id="loginLabel"></label>
        <h2 class="title">Log In</h2>
        <div class="input-field">
        <input
            id="username-input-login"
            type="text"
            name="username"
            placeholder="Username"
            required=""
        >
        </div>
        <br></br>
        <div class="input-field">
        <input
            id="password-input-login"
            type="password"
            name="password"
            placeholder="Password"
            required=""
        >
        </div>
        <br></br>
    <button type="submit" id="login-submit">Log In</button>
    <p>Need to signup? <a href="/signup">Signup</a></p>
    </form>
</div>
<script src="/js/login.js"></script>