<div class="signup">
    <form id="signup-form">
        <label id="signupLabel"></label>
        <h2 class="title">Sign Up</h2>
        <div class="input-field">
        <input
            id="fname-input-signup"
            type="name"
            name="firstname"
            placeholder="First Name"
            required=""
        >
        <input
            id="lname-input-signup"
            type="name"
            name="lastname"
            placeholder="Last Name"
            required=""
        >
        <br></br>
        </div>

        </div>
        <div class="input-field">
        <input
            id="username-input-signup"
            type="text"
            name="username"
            placeholder="Username"
            required=""
        >
        <br></br>
        <input
            id="email-input-signup"
            type="text"
            name="email"
            placeholder="Email"
            required=""
        >
        </div>
        <div class="input-field">
        <input
            id="password-input-signup"
            type="password"
            name="password"
            placeholder="Password"
            required=""
        >
        </div>
        <br></br>
        </div>
    <button type="submit" id="signup-submit">Sign Up</button>
    <p>Already have an account? <a href="/login">Sign in</a></p>
    </form>
</div>


<script src="/js/signup.js"></script>